service vendor.drm-netflix-hal-1-3 /vendor/bin/hw/android.hardware.drm@1.3-service.netflix
    interface android.hardware.drm@1.0::ICryptoFactory netflix
    interface android.hardware.drm@1.0::IDrmFactory netflix
    interface android.hardware.drm@1.1::ICryptoFactory netflix
    interface android.hardware.drm@1.1::IDrmFactory netflix
    interface android.hardware.drm@1.2::ICryptoFactory netflix
    interface android.hardware.drm@1.2::IDrmFactory netflix
    interface android.hardware.drm@1.3::ICryptoFactory netflix
    interface android.hardware.drm@1.3::IDrmFactory netflix
    interface android.hidl.base@1.0::IBase netflix
    class hal
    user media
    group media mediadrm drmrpc system
    ioprio rt 4
    writepid /dev/cpuset/foreground/tasks
