#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#
/adla
/aml_npu_common
/efuse
/external/udf-reader
/fvp
/gpu
/gpu-lib
/tdk
/tdk_v3
/tdk_linuxdriver
/tdk/linuxdriver
/provision
/hdcp
/broadcom
/ASPlayer
/adla_lib
/prebuilt/libmedia
/wifi_bt/bluetooth/amlogic
/external/DTVKit/android-inputsource
/external/DTVKit/cas_hal
/external/DTVKit/releaseDTVKit
/external/freetype
/libdvr_release
/libencoder
/mediahal_sdk
/npu
/external/ffmpeg
/external/pppoe
/external/exfat/
/external/ntfs-3g/
/frameworks/av
/frameworks/automotive/
/kernel
/prebuilt/libmediadrm/playready
/dsp
/aml_mp_sdk
/pre_submit_for_google
/system/libgdc
/apps/automotive/
/apps/DroidLiveTvSettings/
/apps/FileBrowser/
/apps/GoogleTVCustomizationSample/
/apps/MboxLauncher2/
/apps/PPPoE/
/apps/RemoteIME/
/apps/TvInput/
/apps/VideoPlayer/
/apps/DroidTvSettings/
/apps/LauncherCustomization/
/apps/Updater/
/tv
/frameworks/pppoe/
/frameworks/services/miracast_hdcp2/
/prebuilt/libmediadrm
/codec2
/libdsm
*.bak
*.revise
/apps/Miracast
*.o
*.o.*
*.ko
*.mod.c
*.ko.cmd
.tmp_versions/
*.order
*.symtypes
*.order
/codec2/
/libdsm/
