#type logcatd_ext, domain;
typeattribute logcatd_ext coredomain;
typeattribute logcatd_ext mlstrustedsubject;

init_daemon_domain(logcatd_ext)
r_dir_file(logcatd_ext, cgroup)
r_dir_file(logcatd_ext, cgroup_v2)

#allow logcatd_ext misc_logd_file:file create_file_perms;
#allow logcatd_ext misc_logd_file:dir rw_dir_perms;

allow logcatd_ext self:global_capability_class_set sys_nice;

#allow logcatd_ext pstorefs:dir search;
#allow logcatd_ext pstorefs:file r_file_perms;


allow logcatd_ext shell_exec:file rx_file_perms;
allow logcatd_ext logcat_exec:file rx_file_perms;

allow logcatd_ext console_device:chr_file rw_file_perms;

allow logcatd_ext media_rw_data_file:dir {search rw_dir_perms};
allow logcatd_ext media_rw_data_file:file create_file_perms;

control_logd(logcatd_ext)
unix_socket_connect(logcatd_ext, logdr, logd)
get_prop(logcatd_ext, logd_prop)
#read_runtime_log_tags(logcatd_ext)



typeattribute logcatd_ext mlstrustedsubject;

allow logcatd_ext self:global_capability_class_set { net_admin  sys_admin  fowner fsetid };
allow logcatd_ext self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;
allow logcatd_ext self:netlink_kobject_uevent_socket create_socket_perms_no_ioctl;


#allow logcatd_ext { sysfs sysfs_dm sysfs_loop }:dir { search r_dir_perms };
#allow logcatd_ext { sysfs sysfs_dm sysfs_loop }:file rw_file_perms;

allow logcatd_ext self:capability { setgid };

allow logcatd_ext mnt_media_rw_file:dir { search r_dir_perms };
allow logcatd_ext mnt_media_rw_file:file rw_file_perms;

allow logcatd_ext mnt_user_file:dir { search r_dir_perms };
allow logcatd_ext mnt_user_file:file rw_file_perms;

allow logcatd_ext fuse:dir { search r_dir_perms };
allow logcatd_ext fuse:file rw_file_perms;

allow logcatd_ext vfat:file create_file_perms;
allow logcatd_ext vfat:dir { search rw_dir_perms };

set_prop(logcatd_ext, logd_prop);

#allow logcatd_ext proc:file rw_file_perms;


