<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.droidlogic.launcher.provider"
          android:persistent="true"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.DISABLE_INPUT_DEVICE"/>
    <uses-permission android:name="com.android.setupwizard.permission.SETUP" />
    <application>

        <!-- marker receivers to enabled launcher customization -->
        <receiver android:exported="true"
             android:name=".TestCustomizationReceiver">
            <intent-filter>
                <action android:name="com.google.android.tvlauncher.action.PARTNER_CONFIGURATION_TEST"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true"
             android:name=".CustomizationReceiver">
            <intent-filter>
                <action android:name="com.google.android.tvlauncher.action.PARTNER_CONFIGURATION"/>
            </intent-filter>
        </receiver>
        <provider
             android:name=".ConfigurationProvider"
             android:authorities="tvlauncher.config;tvlauncher.widget"
             android:exported="true"/>

        <!-- This Receiver marks this app as being eligible to provide resources which influence
                    the behavior and look of TV Setup. -->
        <receiver android:exported="true"
             android:name=".PartnerReceiver">
            <intent-filter>
                <action android:name="com.google.android.tvsetup.action.PARTNER_CUSTOMIZATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.leanbacklauncher.action.PARTNER_CUSTOMIZATION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
