on property:sys.boot_completed=1
    chmod 0666  /dev/video11
    chmod 0666  /dev/video12

service screen_control /vendor/bin/screencontrol
    interface vendor.amlogic.hardware.screencontrol@1.0::IScreenControl default
    class hal
    oneshot
    disabled
    user root
    group sdcard_rw media system root everybody
